$footer-text: #2b2b2b;
$button: #74d2e7;
$button-border: #4c8996;

.brand {
  background: url('./img/toys_lightened.jpg');
  background-size: auto;
  background-position: center;
  border-bottom: solid 2px $footer-text;
  height: 150px;
  width: 100%;
}

h1 {
  font-family: 'Comic Sans MS', serif;
  font-weight: 900;
  color: #800000;
  padding-top: 10px;
  text-align: center;
  text-shadow: 10px 10px #fff;
  width: 100%;
  font-size: 100px;
}

body {
  font-family: 'Comic Sans MS', serif;
  padding-bottom: 40px;
}

footer {
  background: none;
  bottom: 0;
  color: $footer-text;
  position: absolute;
}

.cart-modal {
  height: auto;
}

.message-area {
  height: 15px;
}

// .brand {
//   background: url('../styles/img/toys.jpg');
// }

.thumbnail {
  margin-bottom: 20px;
}

.btn-success {
  background-color: $button;
  border-color: $button-border;
}

.dollars {
  float: left;
  padding: 5px;
}
